In [1]:
import pandas as pd 
import numpy as np
from nltk.translate.bleu_score import sentence_bleu
from textblob.classifiers import NaiveBayesClassifier

In [2]:
df = pd.read_csv('data/btc_sentiment.csv')

In [3]:
conditions = [
    (df['tweet_sentiment'] < 0.0),
    (df['tweet_sentiment'] > 0.0),
    (df['tweet_sentiment'] == 0.0)
    ]

# create a list of the values we want to assign for each condition
values = ['neg', 'pos', 'neut']

# create a new column and use np.select to assign values to it using our lists as arguments
df['labels'] = np.select(conditions, values)

In [4]:
df.head()

         date  tweet_sentiment labels
0  2019-09-02             -1.0    neg
1  2019-09-03              0.5    pos
2  2019-09-04              0.5    pos
3  2019-09-05              0.5    pos
4  2019-09-06              0.0   neut

In [5]:
df1 = pd.read_csv('data/tweets_btcusd.csv', index_col=[0], parse_dates=True)

In [6]:
df1.set_index(['date'], inplace=True)

In [7]:
import re

In [8]:
df1['tweet_text_clean']=df1['tweet'].apply(lambda row: ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", row).split()))

In [9]:
df1.index = pd.to_datetime(df1.index)

In [10]:
df1.head()

,username,tweet,tweet_text_clean
date,,,
2020-11-15 03:07:47,DaveCrypto83,#bitcoin #ew update $BTCUSD 1 day and 4hr char...,bitcoin ew update BTCUSD 1 day and 4hr charted...
2020-11-14 15:02:03,Ozono_Merval,$BTCUSD por cruces de MM fueron compra las zon...,BTCUSD por cruces de MM fueron compra las zona...
2020-11-14 14:45:59,Ozono_Merval,No vas a encontrar a otro loco que hable de AT...,No vas a encontrar a otro loco que hable de AT...
2020-11-14 11:45:03,RadioSilentplay,$BTCUSD 15982 UPDATE: Monthly Bull Run: Elli...,BTCUSD 15982 UPDATE Monthly Bull Run Elliott W...
2020-11-14 07:34:08,FeraSY1,#Bitcoin 4H TF 2 Important zone to watch for a...,Bitcoin 4H TF 2 Important zone to watch for an...

In [11]:
df1.drop(['username', 'tweet'], axis=1, inplace=True)

In [12]:
df1.head()

                                                      tweet_text_clean
date
2020-11-15 03:07:47  bitcoin ew update BTCUSD 1 day and 4hr charted...
2020-11-14 15:02:03  BTCUSD por cruces de MM fueron compra las zona...
2020-11-14 14:45:59  No vas a encontrar a otro loco que hable de AT...
2020-11-14 11:45:03  BTCUSD 15982 UPDATE Monthly Bull Run Elliott W...
2020-11-14 07:34:08  Bitcoin 4H TF 2 Important zone to watch for an...

In [16]:
df1 = df1.reset_index()

In [18]:
df1.drop('date', axis=1, inplace=True)

In [19]:
df1.head()

                                    tweet_text_clean
0  bitcoin ew update BTCUSD 1 day and 4hr charted...
1  BTCUSD por cruces de MM fueron compra las zona...
2  No vas a encontrar a otro loco que hable de AT...
3  BTCUSD 15982 UPDATE Monthly Bull Run Elliott W...
4  Bitcoin 4H TF 2 Important zone to watch for an...

In [22]:
df1.to_csv('data/plain_tweets.csv')

In [23]:
df1 = pd.read_csv('data/plain_tweets.csv')

In [27]:
df1.head()

   Unnamed: 0                                   tweet_text_clean
0           0  bitcoin ew update BTCUSD 1 day and 4hr charted...
1           1  BTCUSD por cruces de MM fueron compra las zona...
2           2  No vas a encontrar a otro loco que hable de AT...
3           3  BTCUSD 15982 UPDATE Monthly Bull Run Elliott W...
4           4  Bitcoin 4H TF 2 Important zone to watch for an...

In [30]:
df1.drop('Unnamed: 0', axis=1, inplace=True)

In [31]:
df5 = df.join(df1, how='outer')

In [32]:
df5.head()

,date,tweet_sentiment,labels,tweet_text_clean
0,2019-09-02,-1.0,neg,bitcoin ew update BTCUSD 1 day and 4hr charted...
1,2019-09-03,0.5,pos,BTCUSD por cruces de MM fueron compra las zona...
2,2019-09-04,0.5,pos,No vas a encontrar a otro loco que hable de AT...
3,2019-09-05,0.5,pos,BTCUSD 15982 UPDATE Monthly Bull Run Elliott W...
4,2019-09-06,0.0,neut,Bitcoin 4H TF 2 Important zone to watch for an...

In [33]:
df5.drop('date', axis=1, inplace=True)

In [34]:
df5.head()

   tweet_sentiment labels                                   tweet_text_clean
0             -1.0    neg  bitcoin ew update BTCUSD 1 day and 4hr charted...
1              0.5    pos  BTCUSD por cruces de MM fueron compra las zona...
2              0.5    pos  No vas a encontrar a otro loco que hable de AT...
3              0.5    pos  BTCUSD 15982 UPDATE Monthly Bull Run Elliott W...
4              0.0   neut  Bitcoin 4H TF 2 Important zone to watch for an...

In [36]:
df5.to_csv('data/sentiment_accuracy.csv')

In [ ]:

reference = [['the', 'cat',"is","sitting","on","the","mat"]]
candidate = ["on",'the',"mat","is","a","cat"]
score = sentence_bleu(  reference, candidate)
print(score)

In [ ]:
train = [
     ('What an amazing weather.', 'pos'),
     ('this is an amazing idea!', 'pos'),
     ('I feel very good about these ideas.', 'pos'),
     ('this is my best performance.', 'pos'),
     ("what an awesome view", 'pos'),
     ('I do not like this place', 'neg'),
     ('I am tired of this stuff.', 'neg'),
     ("I can't deal with all this tension", 'neg'),
     ('he is my sworn enemy!', 'neg'),
     ('my friends is horrible.', 'neg')
 ]
test = [
     ('the food was great.', 'pos'),
     ('I do not want to live anymore', 'neg'),
     ("I ain't feeling dandy today.", 'neg'),
     ("I feel amazing!", 'pos'),
     ('Ramesh is a friend of mine.', 'pos'),
     ("I can't believe I'm doing this.", 'neg')
 ]

cl = NaiveBayesClassifier(train)
print(cl.classify("This is an amazing library!"))
# Lets test the accuracy of the classifier
print(cl.accuracy(test))

In [ ]:
df.head()