In [1]:
import requests        
import json            
import pandas as pd    
import numpy as np     

import datetime as dt  

import os # for api keys

from binance.client import Client # import binance client

In [2]:
# bring in api keys from system

api_key = os.environ.get('binance_api')
api_secret = os.environ.get('binance_secret')

In [3]:
# initiate client with apis

client = Client(api_key, api_secret)

In [4]:
from binance.websockets import BinanceSocketManager
from twisted.internet import reactor

In [5]:
# pull data in from Binance API

btc_hist = client.get_historical_klines("BTCUSDT", Client.KLINE_INTERVAL_1DAY, "1 Jul, 2019")

In [6]:
print(btc_hist)

[[1561939200000, '10854.10000000', '11282.28000000', '10030.00000000', '10624.93000000', '90962.26827100', 1562025599999, '972343281.86035535', 757458, '44210.98836500', '473020897.41183619', '0'], [1562025600000, '10624.90000000', '10938.75000000', '9727.00000000', '10842.85000000', '109561.03872800', 1562111999999, '1128353804.80079160', 870148, '54998.50360600', '566863180.55092289', '0'], [1562112000000, '10844.98000000', '11991.89000000', '10841.04000000', '11940.00000000', '96815.90029000', 1562198399999, '1097804642.75777372', 814754, '49613.61674400', '561585673.86519116', '0'], [1562198400000, '11940.00000000', '12000.00000000', '11055.00000000', '11145.67000000', '66512.22189200', 1562284799999, '775818897.38948483', 643867, '33626.85186200', '392411806.43340068', '0'], [1562284800000, '11145.67000000', '11406.83000000', '10796.44000000', '10970.73000000', '63534.35058200', 1562371199999, '705853649.02648962', 564857, '32306.91425900', '359142813.98810695', '0'], [1562371200000, '10982.41000000', '11665.00000000', '10964.51000000', '11256.49000000', '51469.49633100', 1562457599999, '585001376.15542908', 470692, '25601.98948200', '291096287.94400300', '0'], [1562457600000, '11256.45000000', '11538.00000000', '11094.37000000', '11406.24000000', '38884.79559900', 1562543999999, '439439052.94554207', 366769, '22449.30112000', '253820654.34123246', '0'], [1562544000000, '11410.00000000', '12338.03000000', '11220.00000000', '12238.60000000', '52182.36721500', 1562630399999, '618530684.43255227', 507860, '27740.09749000', '328709707.94803343', '0'], [1562630400000, '12238.60000000', '12794.73000000', '12068.00000000', '12543.41000000', '78442.13034300', 1562716799999, '975986802.03003513', 660273, '40993.91197400', '508388352.36049587', '0'], [1562716800000, '12548.51000000', '13147.08000000', '11569.00000000', '12108.37000000', '109246.04499700', 1562803199999, '1369749939.96750366', 899391, '46964.76090700', '588798251.12483500', '0'], [1562803200000, '12108.11000000', '12111.73000000', '11000.00000000', '11342.89000000', '87506.46105800', 1562889599999, '1007356802.21825599', 760057, '43714.15617000', '503407388.68365422', '0'], [1562889600000, '11342.88000000', '11885.00000000', '11073.00000000', '11757.22000000', '56321.85828100', 1562975999999, '649824820.76548135', 537561, '30291.11935600', '349517968.90387331', '0'], [1562976000000, '11757.22000000', '11799.98000000', '10830.00000000', '11355.76000000', '54245.59454800', 1563062399999, '614050007.99194520', 510305, '26460.05823600', '299649536.39435350', '0'], [1563062400000, '11355.78000000', '11452.00000000', '10103.00000000', '10174.18000000', '72517.57923600', 1563148799999, '777646151.60294671', 649043, '35853.69216000', '384643236.23562616', '0'], [1563148800000, '10174.18000000', '11100.00000000', '9860.00000000', '10838.72000000', '81922.42633200', 1563235199999, '851028723.70318576', 732206, '41714.18965500', '433767828.49457312', '0'], [1563235200000, '10833.78000000', '11028.00000000', '9350.01000000', '9439.59000000', '97219.44341300', 1563321599999, '982462166.69322945', 796646, '47295.94404800', '478852520.00356246', '0'], [1563321600000, '9430.17000000', '9957.00000000', '9060.00000000', '9667.92000000', '84942.67271700', 1563407999999, '809555508.34767892', 757742, '43073.11514600', '410754257.70738602', '0'], [1563408000000, '9668.86000000', '10788.00000000', '9252.00000000', '10627.16000000', '80283.31025200', 1563494399999, '807822745.18543276', 734821, '42103.34474500', '423743857.79454611', '0'], [1563494400000, '10628.64000000', '10769.71000000', '10121.84000000', '10504.29000000', '56546.93213300', 1563580799999, '589931612.34198640', 567735, '29070.35747400', '303508985.60686395', '0'], [1563580800000, '10505.78000000', '11068.99000000', '10350.00000000', '10740.23000000', '47331.89984800', 1563667199999, '505569016.35008299', 461660, '25003.62155000', '267188169.93959161', '0'], [1563667200000, '10740.27000000', '10817.90000000', '10288.00000000', '10589.45000000', '38834.28793500', 1563753599999, '409661485.99856461', 395452, '20345.52738400', '214610701.20268620', '0'], [1563753600000, '10590.15000000', '10683.16000000', '10100.00000000', '10340.31000000', '40467.95483900', 1563839999999, '421016379.36208768', 389565, '19335.41190000', '201324461.22845032', '0'], [1563840000000, '10343.08000000', '10343.97000000', '9822.00000000', '9864.91000000', '47624.37071000', 1563926399999, '478441909.40505734', 448147, '24082.30912900', '241965620.20266604', '0'], [1563926400000, '9864.78000000', '9937.00000000', '9525.00000000', '9763.28000000', '43475.38037700', 1564012799999, '422534162.14571223', 424762, '21963.77353700', '213526693.38815349', '0'], [1564012800000, '9763.40000000', '10175.00000000', '9720.03000000', '9879.87000000', '37873.35472800', 1564099199999, '378938450.08176742', 368176, '19308.01142600', '193241603.01232005', '0'], [1564099200000, '9882.15000000', '9889.98000000', '9637.00000000', '9824.00000000', '27167.46321700', 1564185599999, '265108103.13392133', 299935, '14006.62943400', '136688126.95394775', '0'], [1564185600000, '9824.00000000', '10188.66000000', '9333.00000000', '9476.52000000', '43809.77830100', 1564271999999, '424932724.96873150', 401418, '21428.05231800', '208090741.11042415', '0'], [1564272000000, '9478.92000000', '9594.99000000', '9165.00000000', '9541.54000000', '29401.02293700', 1564358399999, '278537286.13481345', 271327, '17116.43313200', '162267204.15845968', '0'], [1564358400000, '9541.54000000', '9729.00000000', '9395.00000000', '9507.64000000', '29021.93741100', 1564444799999, '277497756.76841674', 294468, '16075.16697100', '153791418.10329246', '0'], [1564444800000, '9509.07000000', '9714.28000000', '9402.00000000', '9574.21000000', '32536.36883400', 1564531199999, '310867928.28793913', 283961, '17211.00965300', '164621319.04418956', '0'], [1564531200000, '9575.00000000', '10109.80000000', '9555.00000000', '10080.53000000', '39515.35456000', 1564617599999, '389690761.44466112', 364212, '21235.60960400', '209506872.50921800', '0'], [1564617600000, '10080.53000000', '10467.86000000', '9863.46000000', '10374.99000000', '41727.63702800', 1564703999999, '422156523.66900791', 378062, '22244.91946700', '225207082.39426738', '0'], [1564704000000, '10375.00000000', '10670.00000000', '10281.35000000', '10523.75000000', '42990.44422100', 1564790399999, '450323284.15075973', 431322, '22206.13509300', '232638457.60696326', '0'], [1564790400000, '10523.75000000', '10904.77000000', '10497.93000000', '10816.86000000', '33802.31882400', 1564876799999, '363852799.87178007', 348893, '18132.52970700', '195125820.47946514', '0'], [1564876800000, '10816.86000000', '11040.00000000', '10552.00000000', '10929.23000000', '39924.74514100', 1564963199999, '431793873.42329756', 353721, '22066.36825700', '238959952.23516081', '0'], [1564963200000, '10929.99000000', '11937.52000000', '10927.80000000', '11828.80000000', '65153.67371300', 1565049599999, '757976547.21704611', 622610, '33530.07066000', '389969213.39891764', '0'], [1565049600000, '11830.00000000', '12330.70000000', '11226.70000000', '11481.69000000', '76705.38987500', 1565135999999, '904119081.61571263', 625827, '37522.11697200', '442937542.04071641', '0'], [1565136000000, '11481.69000000', '12141.17000000', '11382.84000000', '11975.03000000', '69173.39035300', 1565222399999, '814597979.05050404', 592916, '36357.22591800', '428496665.57006503', '0'], [1565222400000, '11975.04000000', '12060.00000000', '11521.00000000', '11999.77000000', '51207.25717400', 1565308799999, '604389131.06283610', 473584, '27463.20076300', '324785966.12659640', '0'], [1565308800000, '11994.17000000', '12045.68000000', '11700.00000000', '11879.99000000', '39427.15258800', 1565395199999, '467011047.94142844', 410902, '20074.42191100', '238009297.57960402', '0'], [1565395200000, '11879.98000000', '11985.00000000', '11270.00000000', '11309.31000000', '42633.08704800', 1565481599999, '492217964.49055574', 399237, '17111.12507600', '197997879.10911432', '0'], [1565481600000, '11309.24000000', '11600.00000000', '11112.11000000', '11549.97000000', '26772.90691000', 1565567999999, '304862403.35144906', 306234, '15007.43820000', '171032610.99181714', '0'], [1565568000000, '11539.08000000', '11577.89000000', '11235.32000000', '11396.08000000', '17568.22707500', 1565654399999, '200325471.60414099', 255966, '9200.43087900', '104948602.15277771', '0'], [1565654400000, '11398.35000000', '11456.16000000', '10788.45000000', '10892.71000000', '33234.72968000', 1565740799999, '368994475.54611235', 337834, '13483.55870000', '149693332.12683108', '0'], [1565740800000, '10893.36000000', '10897.48000000', '9928.10000000', '10050.37000000', '54451.84749900', 1565827199999, '567724729.10590593', 534507, '26080.63138100', '271971667.55098168', '0'], [1565827200000, '10055.16000000', '10460.00000000', '9911.00000000', '10293.93000000', '38174.45112000', 1565913599999, '387705855.08791121', 373368, '19588.08291800', '199059445.60425642', '0'], [1565913600000, '10296.77000000', '10536.03000000', '9750.00000000', '10331.54000000', '51758.14291800', 1565999999999, '527258446.39777652', 504740, '25818.03153700', '263301246.89849174', '0'], [1566000000000, '10331.15000000', '10465.14000000', '10000.00000000', '10216.02000000', '29000.58120100', 1566086399999, '297776329.03058246', 332795, '14672.94974000', '150792759.34523310', '0'], [1566086400000, '10216.05000000', '10500.00000000', '10080.00000000', '10306.78000000', '24085.39517200', 1566172799999, '248508872.45998642', 265705, '12961.47855700', '133774771.71696787', '0'], [1566172800000, '10306.17000000', '10930.00000000', '10258.60000000', '10915.54000000', '37243.31921700', 1566259199999, '396233441.02745958', 337022, '20591.43657200', '219085855.34458049', '0'], [1566259200000, '10914.73000000', '10949.96000000', '10560.00000000', '10760.51000000', '32298.92167900', 1566345599999, '346664453.13672654', 305065, '16017.54472900', '172082522.17892725', '0'], [1566345600000, '10760.51000000', '10804.13000000', '9858.00000000', '10142.57000000', '47355.71928200', 1566431999999, '482889274.51791698', 458814, '21565.83056100', '219533134.86528105', '0'], [1566432000000, '10140.82000000', '10242.00000000', '9762.00000000', '10099.88000000', '34059.64273800', 1566518399999, '341371442.90683880', 401148, '17921.95430000', '179746967.23521429', '0'], [1566518400000, '10099.90000000', '10445.00000000', '10019.79000000', '10389.55000000', '27550.33617300', 1566604799999, '282732431.75207238', 326866, '14798.81633800', '151926638.08027624', '0'], [1566604800000, '10388.16000000', '10419.42000000', '9890.00000000', '10134.35000000', '27692.45684400', 1566691199999, '279962133.62570987', 313227, '13623.56484100', '137726211.36364345', '0'], [1566691200000, '10134.61000000', '10333.00000000', '9906.97000000', '10142.69000000', '26271.65739800', 1566777599999, '265132761.31704284', 289956, '12885.71773500', '130202473.09027293', '0'], [1566777600000, '10142.69000000', '10604.00000000', '10137.93000000', '10372.25000000', '41687.51159900', 1566863999999, '432249835.49069725', 405316, '22666.59545200', '235202578.43601217', '0'], [1566864000000, '10373.60000000', '10391.08000000', '10051.08000000', '10185.05000000', '28402.77538300', 1566950399999, '289340681.07895178', 292888, '13852.44213800', '141207845.02919283', '0'], [1566950400000, '10185.69000000', '10299.00000000', '9601.01000000', '9721.00000000', '42110.55537500', 1567036799999, '420034883.00315258', 381293, '19430.82257300', '194055407.18003406', '0'], [1567036800000, '9721.00000000', '9724.00000000', '9320.00000000', '9498.44000000', '35532.69491000', 1567123199999, '337838761.55728653', 343887, '17536.26844800', '166811264.08255094', '0'], [1567123200000, '9499.01000000', '9696.00000000', '9350.41000000', '9584.54000000', '26834.31810400', 1567209599999, '255854874.45077452', 259270, '14227.87285100', '135696420.41983487', '0'], [1567209600000, '9582.76000000', '9684.51000000', '9420.75000000', '9587.47000000', '17130.29007400', 1567295999999, '164116756.46299691', 199188, '8558.14821400', '82010834.33875087', '0'], [1567296000000, '9588.74000000', '9830.00000000', '9520.00000000', '9724.98000000', '19545.40484300', 1567382399999, '188513289.12235729', 191324, '11545.61059800', '111464034.38112413', '0'], [1567382400000, '9723.59000000', '10450.00000000', '9712.50000000', '10340.00000000', '44740.24809300', 1567468799999, '448462178.63038095', 354155, '25140.29612500', '251933840.30794755', '0'], [1567468800000, '10340.00000000', '10773.00000000', '10272.00000000', '10615.28000000', '47998.37678100', 1567555199999, '505617667.39926684', 416076, '24734.30326400', '260488377.88812712', '0'], [1567555200000, '10611.85000000', '10799.00000000', '10369.89000000', '10567.02000000', '43943.88902600', 1567641599999, '463526509.32593700', 383457, '22244.06765600', '234731325.60204142', '0'], [1567641600000, '10565.92000000', '10900.00000000', '10450.00000000', '10564.49000000', '33970.96063900', 1567727999999, '358861340.78979007', 309846, '16535.14780700', '174901090.47337497', '0'], [1567728000000, '10563.13000000', '10905.87000000', '10150.00000000', '10298.73000000', '58799.64095900', 1567814399999, '623662984.38433060', 455334, '29952.94442700', '318275724.07277407', '0'], [1567814400000, '10298.71000000', '10558.00000000', '10288.57000000', '10455.88000000', '27637.87739200', 1567900799999, '287851131.18025769', 272011, '14673.48921600', '152825898.95080234', '0'], [1567900800000, '10455.90000000', '10592.50000000', '10208.00000000', '10381.18000000', '23984.67201800', 1567987199999, '249900964.37153130', 237752, '10588.59245800', '110370036.72549054', '0'], [1567987200000, '10381.24000000', '10480.00000000', '10068.50000000', '10303.12000000', '39835.72760800', 1568073599999, '409724831.94712268', 330459, '18729.47268400', '192814736.82347485', '0'], [1568073600000, '10302.58000000', '10384.99000000', '9953.00000000', '10098.15000000', '28915.41222500', 1568159999999, '294323839.50700761', 286763, '13432.25682200', '136876441.42321573', '0'], [1568160000000, '10098.19000000', '10293.00000000', '9880.00000000', '10158.33000000', '31953.82456200', 1568246399999, '321637085.47650871', 309120, '16583.81309700', '167086058.18780477', '0'], [1568246400000, '10158.75000000', '10448.81000000', '10040.00000000', '10415.01000000', '34511.16275500', 1568332799999, '353390090.96777732', 317881, '18550.85320200', '190066356.88701728', '0'], [1568332800000, '10415.01000000', '10439.00000000', '10153.00000000', '10342.06000000', '30280.33977600', 1568419199999, '311632094.25618850', 304947, '16763.85466300', '172561765.65306618', '0'], [1568419200000, '10344.13000000', '10419.99000000', '10222.33000000', '10335.02000000', '23621.53351900', 1568505599999, '244063007.09022474', 253929, '13495.98669100', '139491411.26572924', '0'], [1568505600000, '10332.81000000', '10360.00000000', '10252.15000000', '10302.01000000', '18047.65401300', 1568591999999, '185853330.43704256', 194733, '8221.80305500', '84690636.88555922', '0'], [1568592000000, '10303.34000000', '10355.00000000', '10078.00000000', '10251.31000000', '28971.40165700', 1568678399999, '296325130.17090132', 274368, '13385.30225300', '137008707.88664533', '0'], [1568678400000, '10249.68000000', '10275.00000000', '10128.01000000', '10187.82000000', '22914.32456300', 1568764799999, '233944812.56050799', 287483, '11195.43067300', '114314296.20572508', '0'], [1568764800000, '10187.48000000', '10258.02000000', '10100.00000000', '10156.99000000', '24250.24930300', 1568851199999, '247024351.59799171', 299466, '11753.10911100', '119777298.85924058', '0'], [1568851200000, '10156.41000000', '10325.00000000', '9653.00000000', '10244.29000000', '44826.28257900', 1568937599999, '447676492.98402635', 429727, '22623.28776300', '226404409.68236710', '0'], [1568937600000, '10243.70000000', '10281.00000000', '10061.39000000', '10168.59000000', '25088.49106900', 1569023999999, '255205290.21183727', 267032, '12054.38488800', '122687240.60518866', '0'], [1569024000000, '10167.92000000', '10176.70000000', '9900.00000000', '9986.39000000', '20544.17519600', 1569110399999, '206034034.50803514', 245439, '9285.85147900', '93152981.29234466', '0'], [1569110400000, '9985.15000000', '10089.00000000', '9853.97000000', '10028.87000000', '22049.27525600', 1569196799999, '220133631.61284170', 253713, '11200.61192100', '111864717.13240463', '0'], [1569196800000, '10028.05000000', '10049.99000000', '9615.77000000', '9702.25000000', '31937.23235600', 1569283199999, '314390584.62646132', 332817, '14940.11249600', '147108768.54457945', '0'], [1569283200000, '9702.20000000', '9794.99000000', '7800.00000000', '8493.14000000', '94007.34520300', 1569369599999, '838996309.16112820', 748712, '42986.25312700', '383608082.56863165', '0'], [1569369600000, '8497.55000000', '8730.00000000', '8215.64000000', '8430.05000000', '60783.89225800', 1569455999999, '512437200.36110440', 544806, '30489.47199400', '257118054.54903361', '0'], [1569456000000, '8430.05000000', '8465.99000000', '7750.00000000', '8063.73000000', '67930.85374900', 1569542399999, '552794530.86668199', 522062, '33363.51365000', '271728779.69954551', '0'], [1569542400000, '8063.49000000', '8265.00000000', '7852.15000000', '8177.91000000', '43882.92462500', 1569628799999, '352800745.20792857', 369518, '23224.86113500', '186790633.03646185', '0'], [1569628800000, '8177.47000000', '8315.00000000', '8001.09000000', '8198.81000000', '34473.60516500', 1569715199999, '280672404.68049548', 319113, '18215.03986300', '148326185.32000544', '0'], [1569715200000, '8199.38000000', '8229.13000000', '7890.00000000', '8043.82000000', '31544.21138800', 1569801599999, '253660600.32529288', 322501, '15507.40078100', '124764250.17575432', '0'], [1569801600000, '8043.04000000', '8337.26000000', '7710.00000000', '8289.34000000', '55865.48726000', 1569887999999, '449120676.84276034', 455556, '29052.01095100', '233783108.23169308', '0'], [1569888000000, '8289.97000000', '8500.00000000', '8173.05000000', '8292.44000000', '43472.41809100', 1569974399999, '362980689.87999125', 387653, '22518.98439500', '188065394.22718111', '0'], [1569974400000, '8292.67000000', '8373.91000000', '8151.22000000', '8359.94000000', '26243.38664400', 1570060799999, '216325351.85864461', 261430, '13652.36085000', '112568257.13363141', '0'], [1570060800000, '8360.00000000', '8393.00000000', '8060.00000000', '8223.96000000', '30488.28405800', 1570147199999, '250291751.27141390', 281307, '15321.40753500', '125826457.09252053', '0'], [1570147200000, '8224.43000000', '8232.41000000', '8005.00000000', '8137.13000000', '26476.33040400', 1570233599999, '215325611.68221507', 259012, '13236.81025500', '107708233.74574784', '0'], [1570233600000, '8137.09000000', '8183.41000000', '8012.98000000', '8126.19000000', '21907.61556400', 1570319999999, '177252877.00296909', 237769, '10620.06982200', '85943843.84390094', '0'], [1570320000000, '8127.55000000', '8153.87000000', '7785.00000000', '7854.25000000', '34676.10404900', 1570406399999, '275447898.03287501', 325795, '16437.31014100', '130619830.63356862', '0'], [1570406400000, '7855.30000000', '8299.92000000', '7762.00000000', '8190.09000000', '52202.07229700', 1570492799999, '420921679.84426315', 482605, '28088.64970400', '226592301.64382157', '0'], [1570492800000, '8190.82000000', '8325.00000000', '8088.75000000', '8168.39000000', '35452.65742300', 1570579199999, '290675248.14144530', 395685, '16893.73714000', '138551354.17557934', '0'], [1570579200000, '8170.79000000', '8670.00000000', '8115.00000000', '8560.74000000', '55038.70437800', 1570665599999, '462845251.81361025', 537805, '29211.87169000', '245678414.82929021', '0'], [1570665600000, '8562.15000000', '8644.00000000', '8414.52000000', '8558.03000000', '39137.94616700', 1570751999999, '333925412.30414180', 406932, '20587.71397100', '175682847.81235146', '0'], [1570752000000, '8557.82000000', '8779.51000000', '8

In [7]:
type(btc_hist)

list

In [8]:
# create dataframe from Binance list data

btc_df = pd.DataFrame(btc_hist, columns=['openTime', 'open', 'high', 'low', 'close', 'volume', 'closeTime', 'quoteAssetVolume', 'numTrade', 'takerBuyBaseAssetVolume', 'takerByQuoteAssetVolume', 'ignore'])

In [9]:
# drop columns that are of no use

btc_df.drop(['openTime', 'quoteAssetVolume', 'numTrade', 'takerBuyBaseAssetVolume', 'takerByQuoteAssetVolume', 'ignore'], axis=1, inplace=True)

In [10]:
# rename columns

btc_df = btc_df[['closeTime', 'open', 'high', 'low', 'close', 'volume']]

In [11]:
# convert "closeTime" to readable date from miliseconds

btc_df['closeTime'] = pd.to_datetime(btc_df['closeTime'], unit='ms')

In [12]:
# drop time sequence from date in "closeTime"

btc_df['closeTime'] = pd.to_datetime(btc_df['closeTime']).dt.date

In [13]:
# set index to "closeTime"

btc_df.set_index(['closeTime'], inplace=True)

In [14]:
# rename index "closeTime" to "Date"

btc_df.index.names = ['Date']

In [15]:
# convert columns from str to float (for indicators)

btc_df[['open','high', 'low', 'close', 'volume']]=btc_df[['open','high', 'low', 'close', 'volume']].astype(float)

In [16]:
btc_df.head()

                open      high       low     close         volume
Date
2019-07-01  10854.10  11282.28  10030.00  10624.93   90962.268271
2019-07-02  10624.90  10938.75   9727.00  10842.85  109561.038728
2019-07-03  10844.98  11991.89  10841.04  11940.00   96815.900290
2019-07-04  11940.00  12000.00  11055.00  11145.67   66512.221892
2019-07-05  11145.67  11406.83  10796.44  10970.73   63534.350582

In [17]:
# import technical indicator library 

import btalib

In [18]:
btc_df.head()

                open      high       low     close         volume
Date
2019-07-01  10854.10  11282.28  10030.00  10624.93   90962.268271
2019-07-02  10624.90  10938.75   9727.00  10842.85  109561.038728
2019-07-03  10844.98  11991.89  10841.04  11940.00   96815.900290
2019-07-04  11940.00  12000.00  11055.00  11145.67   66512.221892
2019-07-05  11145.67  11406.83  10796.44  10970.73   63534.350582

In [19]:
# create RSI indicator

rsi = btalib.rsi(btc_df, period=14)

In [20]:
# join RSI to dataframe

btc_df = btc_df.join([rsi.df])

In [21]:
# create EMA long version and rename to "ema_long"

ema_long = btalib.ema(btc_df.close, period=50)
ema_long.df.rename(columns={'ema': 'ema_long'}, inplace=True)

In [22]:
# create EMA short version and rename to "ema_short"

ema_short = btalib.ema(btc_df.close, period=20)
ema_short.df.rename(columns={'ema': 'ema_short'}, inplace=True)

In [23]:
# join ema_long and ema_short to dataframe

btc_df = btc_df.join([ema_long.df, ema_short.df])

In [24]:
btc_df.head()

,open,high,low,close,volume,rsi,ema_long,ema_short
Date,,,,,,,,
2019-07-01,10854.10,11282.28,10030.00,10624.93,90962.268271,NaN,NaN,NaN
2019-07-02,10624.90,10938.75,9727.00,10842.85,109561.038728,NaN,NaN,NaN
2019-07-03,10844.98,11991.89,10841.04,11940.00,96815.900290,NaN,NaN,NaN
2019-07-04,11940.00,12000.00,11055.00,11145.67,66512.221892,NaN,NaN,NaN
2019-07-05,11145.67,11406.83,10796.44,10970.73,63534.350582,NaN,NaN,NaN

In [25]:
# create ATR indicator

atr = btalib.atr(btc_df, period=14)

In [26]:
# create ADX indicator

adx = btalib.adx(btc_df, period=14)

In [27]:
# join ATR and ADX to dataframe

btc_df = btc_df.join([atr.df, adx.df])

In [28]:
# create OBV indicator

obv = btalib.obv(btc_df)

In [29]:
# join OBV to indicator

btc_df = btc_df.join([obv.df])

In [30]:
# create "prediction target" column (shift new column values up by 1)

btc_df["close_nextday"]=btc_df.close.shift(-1)

In [31]:
btc_df.head(60)

,open,high,low,close,volume,rsi,ema_long,ema_short,atr,adx,obv,close_nextday
Date,,,,,,,,,,,,
2019-07-01,10854.10,11282.28,10030.00,10624.93,90962.268271,NaN,NaN,NaN,NaN,NaN,NaN,10842.85
2019-07-02,10624.90,10938.75,9727.00,10842.85,109561.038728,NaN,NaN,NaN,NaN,NaN,109561.038728,11940.00
2019-07-03,10844.98,11991.89,10841.04,11940.00,96815.900290,NaN,NaN,NaN,NaN,NaN,206376.939018,11145.67
2019-07-04,11940.00,12000.00,11055.00,11145.67,66512.221892,NaN,NaN,NaN,NaN,NaN,139864.717126,10970.73
2019-07-05,11145.67,11406.83,10796.44,10970.73,63534.350582,NaN,NaN,NaN,NaN,NaN,76330.366544,11256.49
2019-07-06,10982.41,11665.00,10964.51,11256.49,51469.496331,NaN,NaN,NaN,NaN,NaN,127799.862875,11406.24
2019-07-07,11256.45,11538.00,11094.37,11406.24,38884.795599,NaN,NaN,NaN,NaN,NaN,166684.658474,12238.60
2019-07-08,11410.00,12338.03,11220.00,12238.60,52182.367215,NaN,NaN,NaN,NaN,NaN,218867.025689,12543.41
2019-07-09,12238.60,12794.73,12068.00,12543.41,78442.130343,NaN,NaN,NaN,NaN,NaN,297309.156032,12108.37
2019-07-10,12548.51,13147.08,11569.00,12108.37,109246.044997,NaN,NaN,NaN,NaN,NaN,188063.111035,11342.89
2019-07-11,12108.11,12111.73,11000.00,11342.89,87506.461058,NaN,NaN,NaN,NaN,NaN,100556.649977,11757.22
2019-07-12,11342.88,11885.00,11073.00,11757.22,56321.858281,NaN,NaN,NaN,NaN,NaN,156878.508258,11355.76
2019-07-13,11757.22,11799.98,10830.00,11355.76,54245.594548,NaN,NaN,NaN,NaN,NaN,102632.913710,10174.18
2019-07-14,11355.78,11452.00,10103.00,10174.18,72517.579236,NaN,NaN,NaN,NaN,NaN,30115.334474,10838.72
2019-07-15,10174.18,11100.00,9860.00,10838.72,81922.426332,51.384749,NaN,NaN,997.690000,NaN,112037.760806,9439.59
2019-07-16,10833.78,11028.00,9350.01,9439.59,97219.443413,42.992973,NaN,NaN,1046.282857,NaN,14818.317393,9667.92
2019-07-17,9430.17,9957.00,9060.00,9667.92,84942.672717,44.583526,NaN,NaN,1035.619796,NaN,99760.990110,10627.16
2019-07-18,9668.86,10788.00,9252.00,10627.16,80283.310252,50.794788,NaN,NaN,1071.361239,NaN,180044.300362,10504.29
2019-07-19,10628.64,10769.71,10121.84,10504.29,56546.932133,50.021395,NaN,NaN,1041.111865,NaN,123497.368229,10740.23
2019-07-20,10505.78,11068.99,10350.00,10740.23,47331.899848,51.546999,NaN,11076.262500,1018.103160,NaN,170829.268077,10589.45
2019-07-21,10740.27,10817.90,10288.00,10589.45,38834.287935,50.486382,NaN,11029.899405,983.231506,NaN,131994.980142,10340.31
2019-07-22,10590.15,10683.16,10100.00,10340.31,40467.954839,48.703193,NaN,10964.224223,954.654970,NaN,91527.025303,9864.91
2019-07-23,10343.08,10343.97,9822.00,9864.91,47624.370710,45.407469,NaN,10859.527631,923.748901,NaN,43902.654593,9763.28
2019-07-24,9864.78,9937.00,9525.00,9763.28,43475.380377,44.710916,NaN,10755.123094,887.195408,NaN,427.274216,9879.87
2019-07-25,9763.40,10175.00,9720.03,9879.87,37873.354728,45.739256,NaN,10671.765657,856.322164,NaN,38300.628944,9824.00
2019-07-26,9882.15,9889.98,9637.00,9824.00,27167.463217,45.304406,NaN,10591.026070,813.226295,NaN,11133.165727,9476.52
2019-07-27,9824.00,10188.66,9333.00,9476.52,43809.778301,42.592235,NaN,10484.882635,816.257274,NaN,-32676.612574,9541.54
2019-07-28,9478.92,9594.99,9165.00,9541.54,29401.022937,43.276526,NaN,10395.040479,788.666755,NaN,-3275.589637,9507.64
2019-07-29,9541.54,9729.00,9395.00,9507.64,29021.937411,42.988811,NaN,10310.526148,756.190558,9.001203,-32297.527048,9574.21
2019-07-30,9509.07,9714.28,9402.00,9574.21,32536.368834,43.779255,NaN,10240.400801,724.482661,9.390927,238.841786,10080.53
2019-07-31,9575.00,10109.80,9555.00,10080.53,39515.354560,49.512805,NaN,10225.175010,712.362471,8.926579,39754.196346,10374.99
2019-08-01,10080.53,10467.86,9863.46,10374.99,41727.637028,52.543936,NaN,10239.443104,704.650866,8.741699,81481.833374,10523.75
2019-08-02,10375.00,10670.00,10281.35,10523.75,42990.444221,54.045005,NaN,10266.519952,682.079375,8.915968,124472.277595,10816.86
2019-08-03,10523.75,10904.77,10497.93,10816.86,33802.318824,56.935408,NaN,10318.933290,662.419420,9.463183,158274.596419,10929.23
2019-08-04,10816.86,11040.00,10552.00,10929.23,39924.745141,58.025384,NaN,10377.056786,649.960890,10.187701,198199.341560,11828.80
2019-08-05,10929.99,11937.52,10927.80,11828.80,65153.673713,65.543897,NaN,10515.318044,675.657969,12.043808,263353.015273,11481.69
2019-08-06,11830.00,12330.70,11226.70,11481.69,76705.389875,61.003276,NaN,10607.353469,706.253829,14.171289,186647.625398,11975.03
2019-08-07,11481.69,12141.17,11382.84,11975.03,69173.390353,64.741853,NaN,10737.608376,709.973555,16.146807,255821.015751,11999.77
2019-08-08,11975.04,12060.00,11521.00,11999.77,51207.257174,64.923461,NaN,10857.814245,697.761158,17.981217,307028.272925,11879.99
2019-08-09,11994.17,12045.68,11700.00,11879.99,39427.152588,63.225471,NaN,10955.164317,672.612504,19.684597,267601.120337,11309.31
2019-08-10,11879.98,11985.00,11270.00,11309.31,42633.087048,55.744951,NaN,10988.892477,675.640182,20.098158,224968.033289,11549.97
2019-08-11,11309.24,11600.00,11112.11,11549.97,26772.906910,58.001622,NaN,11042.328432,662.229455,20.091340,251740.940199,11396.08
2019-08-12,11539.08,11577.89,11235.32,11396.08,17568.227075,56.033971,NaN,11076.019057,639.396637,20.085010,234172.713124,10892.71
2019-08-13,11398.35,11456.16,10788.45,10892.71,33234.729680,50.052658,NaN,11058.561052,641.419020,19.005813,200937.983444,10050.37
2019-08-14,10893.36,10897.48,9928.10,10050.37,54451.847499,41.977570,NaN,10962.542857,664.844804,18.838299,146486.135945,10293.93
2019-08-15,10055.16,10460.00,9911.00,10293.93,38174.451120,44.753011,NaN,10898.865442,656.570175,18.708897,184660.587065,10331.54
2019-08-16,10296.77,10536.03,9750.00,10331.54,51758.142918,45.189010,NaN,10844.834447,665.817306,18.841434,236418.729983,10216.02
2019-08-17,10331.15,10465.14,10000.00,10216.02,29000.581201,44.039383,NaN,10784.947357,651.483212,18.964504,207418.148782,10306.78
2019-08-18,10216.05,10500.00,10080.00,10306.78,24085.395172,45.218562,NaN,10739.407609,634.948697,18.987556,231503.543954,10915.54
2019-08-19,10306.17,10930.00,10258.60,10915.54,37243.319217,52.455192,10780.797400,10756.182122,637.552362,17.957856,268746.863171,10760.51
2019-08-20,10914.73,10949.96,10560.00,10760.51,32298.921679,50.621231,10780.001816,10756.594301,619.867193,16.955927,236447.941492,10142.57
2019-08-21,10760.51,10804.13,9858.00,10142.57,47355.719282,44.015480,10755.004490,10698.115796,643.171679,17.318403,189092.222210,10099.88
2019-08-22,10140.82,10242.00,9762.00,10099.88,34059.642738,43.592263,10729.313333,10641.140958,631.516559,17.805343,155032.579472,10389.55
2019-08-23,10099.90,10445.00,10019.79,10389.55,27550.336173,47.295390,10715.989281,10617.179915,616.780377,17.743946,182582.915645,10134.35
2019-08-24,10388.16,10419.42,9890.00,10134.35,27692.456844,44.522268,10693.179897,10571.196113,610.540350,17.914444,154890.458801,10142.69
2019-08-25,10134.61,10333.00,9906.97,10142.69,26271.657398,44.636515,10671.592058,10530.386007,597.361039,18.072764,181162.116199,10372.25
2019-08-26,10142.69,10604.00,10137.93,10372.25,41687.511599,47.821666,10659.853154,10515.325435,587.983108,17.490615,222849.627798,10185.05
2019-08-27,10373.60,10391.08,10051.08,10185.05,28402.775383,45.521710,10641.233422,10483.870632,570.270028,17.133370,194446.852415,9721.00
2019-08-28,10185.69,10299.00,9601.01,9721.00,42110.555375,40.342101,10605.145837,10411.216286,579.392884,17.659212,152336.297040,9498.44
2019-08-29,9721.00,9724.00,9320.00,9498.44,35532.694910,38.102849,10561.745608,10324.285211,566.864820,18.602992,116803.602130,9584.54

In [32]:
# drop unecessary rows not in project time range (also removes NaN values created by indicators)

btc_df.drop(btc_df.head(63).index,inplace=True)

In [33]:
btc_df.head()

,open,high,low,close,volume,rsi,ema_long,ema_short,atr,adx,obv,close_nextday
Date,,,,,,,,,,,,
2019-09-02,9723.59,10450.00,9712.50,10340.00,44740.248093,51.381478,10452.265343,10164.518939,530.693553,19.114750,225053.863244,10615.28
2019-09-03,10340.00,10773.00,10272.00,10615.28,47998.376781,54.904081,10458.658074,10207.448563,528.572585,18.426961,273052.240025,10567.02
2019-09-04,10611.85,10799.00,10369.89,10567.02,43943.889026,54.163174,10462.907561,10241.693462,521.468114,17.842351,229108.350999,10564.49
2019-09-05,10565.92,10900.00,10450.00,10564.49,33970.960639,54.121941,10466.891187,10272.435990,516.363249,17.516155,195137.390360,10298.73
2019-09-06,10563.13,10905.87,10150.00,10298.73,58799.640959,49.830575,10460.296630,10274.940181,533.470874,16.423958,136337.749401,10455.88

In [34]:
# bring BTC futures prices

btc_fut = pd.read_csv("closeFUT.csv", index_col='Date', parse_dates=True)

In [35]:
btc_fut.shape

(443, 1)

In [36]:
btc_df.shape

(443, 12)

In [37]:
# join btc_fut dataframe to original btc_df

btc_df = btc_df.join(btc_fut, how="inner")

In [38]:
btc_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 443 entries, 2019-09-02 to 2020-11-17
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   open           443 non-null    float64
 1   high           443 non-null    float64
 2   low            443 non-null    float64
 3   close          443 non-null    float64
 4   volume         443 non-null    float64
 5   rsi            443 non-null    float64
 6   ema_long       443 non-null    float64
 7   ema_short      443 non-null    float64
 8   atr            443 non-null    float64
 9   adx            443 non-null    float64
 10  obv            443 non-null    float64
 11  close_nextday  442 non-null    float64
 12  closeFUT       443 non-null    float64
dtypes: float64(13)
memory usage: 68.5 KB

In [39]:
btc_df.head()

,open,high,low,close,volume,rsi,ema_long,ema_short,atr,adx,obv,close_nextday,closeFUT
Date,,,,,,,,,,,,,
2019-09-02,9723.59,10450.00,9712.50,10340.00,44740.248093,51.381478,10452.265343,10164.518939,530.693553,19.114750,225053.863244,10615.28,10341.07
2019-09-03,10340.00,10773.00,10272.00,10615.28,47998.376781,54.904081,10458.658074,10207.448563,528.572585,18.426961,273052.240025,10567.02,10610.72
2019-09-04,10611.85,10799.00,10369.89,10567.02,43943.889026,54.163174,10462.907561,10241.693462,521.468114,17.842351,229108.350999,10564.49,10568.07
2019-09-05,10565.92,10900.00,10450.00,10564.49,33970.960639,54.121941,10466.891187,10272.435990,516.363249,17.516155,195137.390360,10298.73,10565.04
2019-09-06,10563.13,10905.87,10150.00,10298.73,58799.640959,49.830575,10460.296630,10274.940181,533.470874,16.423958,136337.749401,10455.88,10294.96

In [40]:
# round volume column

btc_df['volume'] = btc_df['volume'].round(2)

In [41]:
btc_df.head()

,open,high,low,close,volume,rsi,ema_long,ema_short,atr,adx,obv,close_nextday,closeFUT
Date,,,,,,,,,,,,,
2019-09-02,9723.59,10450.00,9712.50,10340.00,44740.25,51.381478,10452.265343,10164.518939,530.693553,19.114750,225053.863244,10615.28,10341.07
2019-09-03,10340.00,10773.00,10272.00,10615.28,47998.38,54.904081,10458.658074,10207.448563,528.572585,18.426961,273052.240025,10567.02,10610.72
2019-09-04,10611.85,10799.00,10369.89,10567.02,43943.89,54.163174,10462.907561,10241.693462,521.468114,17.842351,229108.350999,10564.49,10568.07
2019-09-05,10565.92,10900.00,10450.00,10564.49,33970.96,54.121941,10466.891187,10272.435990,516.363249,17.516155,195137.390360,10298.73,10565.04
2019-09-06,10563.13,10905.87,10150.00,10298.73,58799.64,49.830575,10460.296630,10274.940181,533.470874,16.423958,136337.749401,10455.88,10294.96

In [42]:
# drop 2 tail rows to fit tweet sentiment dataframe and match time range

btc_df.drop(btc_df.tail(2).index,inplace=True)

In [43]:
btc_df.tail()

,open,high,low,close,volume,rsi,ema_long,ema_short,atr,adx,obv,close_nextday,closeFUT
Date,,,,,,,,,,,,,
2020-11-11,15297.21,15965.00,15272.68,15684.24,78469.75,73.450202,12927.689795,14236.176564,698.560946,53.701439,1.954724e+06,16291.86,15685.02
2020-11-12,15684.25,16340.70,15440.64,16291.86,102196.36,76.977504,13059.618039,14431.955939,712.953736,53.845549,2.056921e+06,16320.70,16289.98
2020-11-13,16291.85,16480.00,15952.35,16320.70,75691.88,77.132794,13187.503606,14611.836326,699.717755,54.091743,2.132613e+06,16070.45,16321.89
2020-11-14,16320.04,16326.99,15670.00,16070.45,59116.35,72.559314,13300.560327,14750.751914,696.665772,53.511714,2.073496e+06,15957.00,16066.20
2020-11-15,16069.56,16180.00,15774.72,15957.00,43596.84,70.517941,13404.734432,14865.632684,675.852503,52.973116,2.029899e+06,16713.57,15952.73

In [44]:
# bring in tweet sentiment dataframe

tweet_sentiment_df = pd.read_csv('btc_sentiment.csv', index_col='date', parse_dates=True)

In [45]:
tweet_sentiment_df.head()

            tweet_sentiment
date
2019-09-02             -1.0
2019-09-03              0.5
2019-09-04              0.5
2019-09-05              0.5
2019-09-06              0.0

In [46]:
# join tweet sentiment dataframe with btc_df

btc_df = btc_df.join(tweet_sentiment_df, how="inner")

In [47]:
btc_df.head()

,open,high,low,close,volume,rsi,ema_long,ema_short,atr,adx,obv,close_nextday,closeFUT,tweet_sentiment
Date,,,,,,,,,,,,,,
2019-09-02,9723.59,10450.00,9712.50,10340.00,44740.25,51.381478,10452.265343,10164.518939,530.693553,19.114750,225053.863244,10615.28,10341.07,-1.0
2019-09-03,10340.00,10773.00,10272.00,10615.28,47998.38,54.904081,10458.658074,10207.448563,528.572585,18.426961,273052.240025,10567.02,10610.72,0.5
2019-09-04,10611.85,10799.00,10369.89,10567.02,43943.89,54.163174,10462.907561,10241.693462,521.468114,17.842351,229108.350999,10564.49,10568.07,0.5
2019-09-05,10565.92,10900.00,10450.00,10564.49,33970.96,54.121941,10466.891187,10272.435990,516.363249,17.516155,195137.390360,10298.73,10565.04,0.5
2019-09-06,10563.13,10905.87,10150.00,10298.73,58799.64,49.830575,10460.296630,10274.940181,533.470874,16.423958,136337.749401,10455.88,10294.96,0.0

In [48]:
# reorder columns

btc_df = btc_df[['open', 'high', 'low', 'close', 'closeFUT', 'volume', 'rsi', 'ema_short', 'ema_long', 'atr', 'adx', 'obv', 'tweet_sentiment', 'close_nextday']]

In [49]:
btc_df.head()

,open,high,low,close,closeFUT,volume,rsi,ema_short,ema_long,atr,adx,obv,tweet_sentiment,close_nextday
Date,,,,,,,,,,,,,,
2019-09-02,9723.59,10450.00,9712.50,10340.00,10341.07,44740.25,51.381478,10164.518939,10452.265343,530.693553,19.114750,225053.863244,-1.0,10615.28
2019-09-03,10340.00,10773.00,10272.00,10615.28,10610.72,47998.38,54.904081,10207.448563,10458.658074,528.572585,18.426961,273052.240025,0.5,10567.02
2019-09-04,10611.85,10799.00,10369.89,10567.02,10568.07,43943.89,54.163174,10241.693462,10462.907561,521.468114,17.842351,229108.350999,0.5,10564.49
2019-09-05,10565.92,10900.00,10450.00,10564.49,10565.04,33970.96,54.121941,10272.435990,10466.891187,516.363249,17.516155,195137.390360,0.5,10298.73
2019-09-06,10563.13,10905.87,10150.00,10298.73,10294.96,58799.64,49.830575,10274.940181,10460.296630,533.470874,16.423958,136337.749401,0.0,10455.88

In [105]:
# check for any missing columns

btc_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 441 entries, 2019-09-02 to 2020-11-15
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   open             441 non-null    float64
 1   high             441 non-null    float64
 2   low              441 non-null    float64
 3   close            441 non-null    float64
 4   closeFUT         441 non-null    float64
 5   volume           441 non-null    float64
 6   rsi              441 non-null    float64
 7   ema_short        441 non-null    float64
 8   ema_long         441 non-null    float64
 9   atr              441 non-null    float64
 10  adx              441 non-null    float64
 11  obv              441 non-null    float64
 12  tweet_sentiment  441 non-null    float64
 13  close_nextday    441 non-null    float64
dtypes: float64(14)
memory usage: 71.7 KB